<html>
<nav class="navbar navbar-primary bg-primary">
    <a class="navbar-brand logo" href="/">
        <%=image_tag("icon.png", widht: 40, height: 40, alt: "Home")%>
    </a>
    
</nav>



<div class="list-container">
<div class="container">

    <div class="upload-content">
    <h2>Suba seu arquivo</h2>
    <form action="/candidato/importar" enctype="multipart/form-data" method="post" enc>
        <fieldset>
            <div class="row">
                <div class="col-6">
                    <input type="file" class="form-control" name="csv">
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-primary" name="Enviar">
                </div>
            </div>
        </fieldset>
    </form>
    <br />
    </div>

    <div class="candidatos-list">
        <% @candidatos.each do |candidato| %>
        <div class="card candidatos-item shadow-sm p-3 mb-5 bg-white rounded">
            <img class="card-img-top" src="https://www.camara.leg.br/internet/deputado/bandep/<%= candidato.ideCadastro %>.jpg" alt=" Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%=  candidato.txNomeParlamentar %></h5>
                <p class="card-text"><%= candidato.sgPartido %></p>
                <a href="/candidato/<%=candidato.id %>" class="btn btn-primary all">Detalhes</a>
            </div>
        </div>
        <% end %>
    </div>
</div>
</div>
</html>