<nav class="navbar navbar-expand-lg navbar-light bg-primary">
 <a class="navbar-brand logo" href="/">
        <%=image_tag("icon.png", widht: 40, height: 40, alt: "Home")%>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" style="color: white" href="/candidato">CANDIDATOS <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
  </div>
</nav>

<div class="show-container">
    <div style="padding-top: 30px">

        <div class="header-info shadow p-15 mb-5 rounded">
            <img width="120px" src="https://www.camara.leg.br/internet/deputado/bandep/<%= @candidato.ideCadastro %>.jpg" alt="img" />
            <div class="content">
                <h2><%= @candidato.txNomeParlamentar %> - <%= @candidato.sgPartido %></h2>
                <h4>CPF: <%= @candidato.cpf %> , Número Deputado: <%= @candidato.nuDeputadoId %></h4>
            </div>
            <div class="cards-header">
                <div class="card">
                    <div class="card-body">
                        Maior Despesa: <%= number_to_currency(@candidato.despesa_max, :unit => "R$ ") %>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        Somatório Despesa: <%= number_to_currency(@candidato.despesa_somatorio, :unit => "R$ ")  %>
                    </div>
                </div>
                
            </div>
        </div>
        
    <div class="container-grafico">
      
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load("current", {
                packages: ['corechart']
            });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ["Data", "Valor"],
                    <% @candidato.despesas_maiores.each do |despesa| %>
                        ["<%= despesa.datEmissao.strftime("%m/%d/%Y") %> ", <%= despesa.vlrLiquido %>],
                    <% end %>
                ]);

                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1]);

                var options = {
                    title: "Principais gastos do candidato",
                    width: '100%',
                    height: 400,
                    bar: {
                        groupWidth: "95%"
                    },
                    legend: {
                        position: "none"
                    },
                };
                var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
                chart.draw(view, options);
            }
        </script>
        <div id="columnchart_values" style="width: 900px; height: 300px; margin-bottom: 100px"></div>

    </div>

    <div class="container-table">

        <table class="table table-primary table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Estabelecimento</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            <tbody>
                <% @candidato.get_despesas.each do |despesa| %>
                <tr>
                    <td><%= despesa.datEmissao.strftime("%m/%d/%Y") %> </td>
                    <td><%= despesa.txtFornecedor %></td>
                    <td><%= number_to_currency(despesa.vlrLiquido, :unit => "R$") %></td>
                    <td> <a href="<%= despesa.urlDocumento %>"><%= despesa.urlDocumento %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        </div>
    </div>
</div>